.ui.inverted.segment
  .ui.center.aligned.container
    p
      strong Dale's Blog
      |  by
      a(href='http://www.daleseo.com')  Dale Seo
      | .
    p
      a.icon(href='https://github.com/DaleSeo/blog')
        i.fa.fa-github

.ui.dropdown
  .text File
  i.dropdown.icon
  .menu
    .item New
    .item
      span.description ctrl + o
      |       Open...
    .item
      span.description ctrl + s
      |       Save as...
    .item
      span.description ctrl + r
      |       Rename
    .item Make a copy
    .item
      i.folder.icon
      |       Move to folder
    .item
      i.trash.icon
      |       Move to trash
    .divider
    .item Download As...
    .item
      i.dropdown.icon
      |       Publish To Web
      .menu
        .item Google Docs
        .item Google Drive
        .item Dropbox
        .item Adobe Creative Cloud
        .item Private FTP
        .item Another Service...
    .item E-mail Collaborators
