.ui.fixed.stackable.inverted.menu
  .ui.container
    .header.item
      strong
       big= appTitle
    a.item(href='/')
      i.home.icon
      | Home
    a.item(href='/articles/new')
      i.pencil.icon
      | New Article
    a.item(href='/pages/new')
      i.sticky.note.icon
      | New Page
    a.item(href='/admin')
      i.power.icon
      | Admin
    .ui.right.dropdown.item
      i.user.icon
      | Profile
      i.dropdown.icon
      .menu
        a.item(href='/profile')
          | Profile
        a.item(href='/logout')
          | Logout
    .item
      .ui.icon.input
        input(type='search', placeholder='Search...')
        i.search.icon

script.
  $(_ => {
    $('.ui.dropdown').dropdown()
  })
