.ui.segment
  .ui.large.blue.right.ribbon.label
    i.book.icon
    | Recently Posted
  .ui.list
    a.item Different ways to create objects
    a.item Useful Testing
    a.item How to saflely save passwords

.ui.segment
  .ui.large.blue.right.ribbon.label
    i.heart.icon
    | Most Visted
  .ui.list
    a.item How to saflely save passwords
    a.item Different ways to create objects
    a.item Useful Testing

.ui.segment
  .ui.large.blue.right.ribbon.label
    i.tags.icon
    | Tags
  .ui.list
    .item
      .ui.label CSS
        .detail 18
    .item
      .ui.label ExpressJS
        .detail 30
    .item
      .ui.label HTML
        .detail 22
    .item
      .ui.label JavaScript
        .detail 109
    .item
      .ui.label MongoDB
        .detail 7
    .item
      .ui.label NodeJS
        .detail 76
