extends layout

block content
  if (articles.length === 0)
    p
      | Nothing to display. Add a new 
      a(href='/article/add') article
      |.
  else
    table.table.table-stripped
      thead
        tr
          th(colspan='2') Actions
          th Post Title
      tbody
        each article in articles
          tr(data-id='#{article._id}', class=(!article.published)?'unpublished':'')
            td.action
              button.btn.btn-danger.btn-sm.remove(type='button')
                span.glyphicon.glyphicon-remove
            td.action
              button.btn.btn-danger.btn-sm.publish(type='button')
                span.glyphicon(class=(article.published)?'glyphicon-pause':'glyphicon-play')
            td= article.title
    script(type='text/javascript', src='js/admin.js')
