extends layout

block content
  .ui.container
    each article, index in articles
      .ui.piled.segment
        h4.ui.header
          a(href=`/articles/${article.slug}`)= article.title
        p= article.text
