extends layout

block content
  .ui.container(style="height: 100%")
    .ui.middle.aligned.center.aligned.grid(style="height: 100%")
      .six.wide.column
        h2.ui.teal.header
          | Log-in to your account
        form.ui.large.form(method='POST')
          .ui.stacked.segment
            .field
              div.ui.left.icon.input
                i.user.icon
                input(type='email', name='email', placeholder='Email')
            .field
              div.ui.left.icon.input
                i.lock.icon
                input(type='password', name='password', placeholder='Password')
            button.ui.fluid.large.teal.button(type='submit') Login
        if error && error.length > 0
          .ui.error.message= error
        .ui.message
          | New to us?
          | &nbsp;
          a(href='/signup') Sign Up
