extends layout

block content
  section.section
    .container(style="width:350px")
      h1.title Log In
      if error && error.length > 0
        .notification.is-primary= error
      form(method='POST')
        .field
          p.control.has-icons-left
            input.input(type='email', name='email', placeholder='Email')
            span.icon.is-small.is-left
              i.fa.fa-envelope
        .field
          p.control.has-icons-left
            input.input(type='password', name='password', placeholder='Password')
            span.icon.is-small.is-left
              i.fa.fa-lock
        .field
          p.has-text-right
            button.button.is-primary(type='submit') Log In
            | &nbsp;
            a.button.is-info(href='/signup') Sign Up
