extends layout

block content
  section.section
    .container(style="width:350px")
      h1.title Sing Up
      if error && error.length > 0
        .notification.is-primary= error
      form(method='POST')
        .field
          p.control.has-icons-left
            input.input(type='email', name='email', placeholder='Email' required)
            span.icon.is-small.is-left
              i.fa.fa-envelope
        .field
          p.control.has-icons-left
            input.input(type='password', name='password', placeholder='Password' required)
            span.icon.is-small.is-left
              i.fa.fa-lock
        .field
          p.control.has-icons-left
            input.input(type='password', name='confirmPassword', placeholder='Confirm Password' required)
            span.icon.is-small.is-left
              i.fa.fa-key
        .field
          p.has-text-right
            button.button.is-primary(type='submit') Save
