extends layout

block content
  .ui.container(style="height: 70%")
    .ui.middle.aligned.center.aligned.grid(style="height: 100%")
      .six.wide.column
        h2.ui.teal.header
          | Sign Up
        form.ui.large.form(method='POST')
          .ui.stacked.segment
            .field
              div.ui.left.icon.input
                i.user.icon
                input(type='email', name='email', placeholder='Email')
            .field
              div.ui.left.icon.input
                i.lock.icon
                input(type='password', name='password', placeholder='Password')
            .field
              div.ui.left.icon.input
                i.fa-key.icon
                input(type='confirmPassword', name='confirmPassword', placeholder='confirmPassword')
            button.ui.fluid.large.teal.button(type='submit') Save
        if error && error.length > 0
          .ui.error.message= error
