extends ../layout

block content
  section.section
    .container
      h1.title Article
      h2.subtitle
        if article._id
          | Edit
        else
          | New
      if error
        .notification.is-primary= error
      form(method='POST')
        .field
          label.label(for='title') Title
          p.control
            input#title.input(name='title', type='text', value=article.title, required)
        .field
          label.label(for='slug') Slug
          p.control
            input#slug.input(name='slug', type='text', value=article.slug, required)
        .field
          label.label(for='text') Text
          p.control
            textarea#text.textarea(name='text', rows='5')= article.text
        .field
          p.control
            button.button.is-primary(type='submit') Save
