extends ../layout

block content
  section.section
    .container
      h1.title Post an Article
      if error
        .notification.is-primary= error
      form(method='POST')
        .field
          label.label(for='title') Title
          p.control
            input#title.input(name='title', type='text', required)
        .field
          label.label(for='slug') Slug
          p.control
            input#slug.input(name='slug', type='text')
            span.help-block This string will be used in the URL.
        .field
          label.label(for='text') Text
          p.control
            textarea#text.textarea(name='text', rows='5')
        .field
          p.control
            button.button.is-primary(type='submit') Save
