extends ../layout

block content
  .ui.container
    h1.ui.header Article
      .ui.sub.header List

    table.ui.sortable.selectable.table
      thead
        tr
          th Post Title
          th Created At
          th Author
          th Published
      tbody
        each article in articles
          tr(onclick=`location.href = '/articles/${article.slug}'`)
            td= article.title
            td= moment(article.createdAt).format('YY/MM/DD HH:mm:ss')
            td= article.author || 'Dale Seo'
            td
              if article.published
                span.tag.is-success Y
              else
                span.tag.is-warning N
  script(src='/js/admin.js')
  script(src='/js/tablesort.js')
  script.
    $('.ui.table').tablesort()
